[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pystray = "*"
screen-brightness-control = "*"
nuitka = "*"
customtkinter = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"

[scripts]
build = "nuitka main.py --windows-disable-console --standalone --onefile --enable-plugin=tk-inter"